<header>
  <h1>Your Dashboard</h1>
</header>

<nav>
  <a href="/">Home</a>
  <a href="/dashboard">Dashboard</a>
  <a href="/logout">Logout</a>
</nav>

<main>
  <div class="dashboard-header">
    <h1>Your Dashboard</h1>
  </div>

  {{#each posts}}
  <div class="dashboard-post">
    <h2>{{this.title}}</h2>
    <small>{{this.createdAt}}</small>
  </div>
  {{/each}}
</main>
